*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.alert{
    padding: 15px 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.danger{
    width: 35%;
    background-color: #F8D7DA;
    color: #842029;
    font-size: 1.5rem;
    font-weight: 300;
}
.danger-link{
    color: #842029;
    font-weight: 600;
}

i{
    font-size: 2rem;
}
