*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.warp{
    background-color: white;
    padding: 20px;

}

.flex{
    display: flex;
}

.top{
    margin: 10px;
}
.top__box{
    width: 70px;
    height: 70px;
    background-color: black;
    margin: 10px;
}
.mid__left-box{
    width: 160px;
    height: 70px;
    margin: 10px;
    background-color: black;
}