*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    color:black;
}

body{
    font-family: 'Barlow', sans-serif;
}

a{
    text-decoration: none;
}

.wraper{
    width: 100%;
}

.container{
    max-width: 1080px;    
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.row-special{
    margin: 0 -5px;
}

.col-50{
    width: 50%;
    padding: 0 15px;
}

.col-50-special{
    padding: 0 5px;
}

.col-40{
    width: 40%;
    padding: 0 15px;
}
.col-25{
    width: 25%;
    padding: 0 15px;
}

.col-20{
    width: 20%;
    padding: 0 15px;
}
.col-33{
    width: 33.3333%;
    padding: 0 15px;

}


/* CSS TEXT  */

.hero-heading{
    font-size: 4.5rem;
    color: #000;
    margin-bottom: 20px;
    margin-top: 90px;
}

.hero-desc{
    font-size: 1.6rem;
    color: rgba(0,0,0,.4);
}

.product__title{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 20px 0 10px 0;
}

.product__price{
    font-size: 1.6rem;
}

.dflex{
    display: flex;
}

li{
    list-style: none;
}

.text-center{
    text-align: center;
}

.mt-5{
    margin-top: 50px;
}

.px-0-5{
    padding: 0 5px;
}

.pr-0-5{
    padding-right: 5px;
}



.img-fluid{
    width: 100%;
    display: block;
}

/* Nav */
.nav-top{
    justify-content: space-between;
    margin: 0 20px;  
    padding: 10px 0;
    padding-right: 60px;
    border-bottom: 1px solid #D6D6D6;
}

.nav-item{
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 3px 20px;
    color: black;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: #BD9E6B;
}

.nav-item-border{
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
}

/* Menu */

.nav-main{
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.pd-20{
    padding: 20px;
}

.menu-item{
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 500;
}
.nav-info-item{
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    padding: 0 5px;
}
.bd-round{
    background-color: #BD9E6B;
    border-radius: 50%;
    margin: 0 20px;
}

/* banner */
.banner{
    position: relative;
}


.banner .banner-bg{
    width: 100%;
}

.banner-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.content-img{
    width: 190px;
    height: auto;
}

.banner-title{
    color: white;
    font-size: 8.3rem;
    font-weight: 600;
    margin: 50px;
    margin-top: 20px;
}
.banner-btn{
    border: none;
}
    
.banner-btn-link{
    color: black;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 2px;
    background-color: white;
    padding: 20px 30px;
    border: none;
    transition: all 0.5s;
}

.banner-btn-link:hover{
    color: #BD9E6B;
    background-color: #0E0602;
}

.banner__text-small{
    font-size: 1.3rem;
    color: white;
    letter-spacing: 2px;
}

.banner-2-title{
    font-size: 5rem;
    color: white;
    padding-bottom: 40px;
}

/* section 2 */

.row-ave{
    margin: 0 -5px;
}

.ave-50{
    width: 50%;
    padding: 5px;
}

.ave-25{
    width: 25%;
    padding: 5px;
}

.resize{
    width: 270px;
    height: 246px;
}

/* STYLE COMPONENT COLLECTION  */


.collection img{
    border-radius: 10px;
}

.collection__large{
    position: relative;
}

.collection__small{
    position: relative;
}

.collection__title{
    font-size: 2rem;
    color: #0007;
    position: absolute;
    top: 10px;
    left: 20px; 
}


.mt-1-5{
    margin-top: 15px;
}


.mb-1-5{
    margin-bottom: 10px;
}


.product__image-overlay{
    position: relative;
}

.product__add-cart{
    padding: 8px 30px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

.product__add-cart a{
    color: white;
}
.product__add-cart{
    font-size: 13px;
    letter-spacing: 2px;
    padding: 10px 0;
    transition: all 0.5s;
}

.product__add-cart:hover{
    background-color: #BD9E6B;
}
.product__noti{
    position: absolute;
    text-align: center;
    background: #e82d2d;
    color: #fff;
    padding: 5px 12px;
    top: 10px;
    left: 10px;
    font-size: 12px;
    letter-spacing: 2px;
}

.product{
    padding-bottom: 50px;
}

/* logo */

.logo{
    opacity: 0.3;
    padding: 30px;
    width: 14%;
    cursor: pointer;
    transition: ease-out 0.3s;
}

.logo img{
    width: 100%;
}

.logo:hover{
    opacity: unset;
}

/* editorial */

.editorial__link{
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-size: 13px;
    color: black;
    font-weight: 300;
}

.editorial__link:hover{
    color: #BD9E6B;
    border-bottom: #BD9E6B 1px solid;
}

.sale__noti{
    background-color: white;
    color: black;
}

/* subcribe */

.input{
    width: 300px;
    margin: 30px auto;
    border: none;
    border-bottom: 1px solid black;
}

.input input{
    border: white;
    font-size: 16px;
    width: 100%;
    padding: 15px 0;
    outline: 0;

}

/* delivery */

.delivery-icon{
    width: 45px;
    margin: 0 10px;
}

.delivery-content{
    font-size: 16px;
    font-weight: 200;
}

.guarentee{
    color: rgba(0,0,0,.4);
    font-weight: 500;
}

.delivery{
    padding-top: 100px;
}

/* latest fashion */

.fashion{
    position: relative;
}

.fashion img{
    border: 1px solid #bd9e6b;
}

.latest-content{
    position: absolute;
    top: 40px;
    left: 40px;
}

.left__title{
    font-size: 2.5rem;
    color: white;
    padding: 30px 0;
}

.latest-btn{
    color: white;
    font-size: 12px;
    padding: 10px 6px;
    border: 1px solid #bd9e6b;
    letter-spacing: 2px;
}

.date{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    font-size: 1.6rem;
}

.right__title{
    font-size: 2rem;
    color: black;
    padding: 25px 0;
}

.right__desc{
    font-size: 1.6rem;
    font-weight: 200;
}

/* picture line */

.pics-line{
    width: 100%;
    padding: 50px 0;
}

.pics-line img{
    width: 16.666666%;
}

/* footer */

.footer{
    padding: 50px 0;
}
.footer-input{
    margin: 0;
}

.history{
    line-height: 1.5;
    margin: 30px 0;
}

.footer-pd{
    padding: 10px 0;
}

.footer-catagory{
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.footer-pd-name{
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    margin-left: 10px;
}

.footer-pd-price{
    font-size: 1.6rem;
    color: rgba(0,0,0,.4);
    margin-left: 10px;
}

.footer-list{
    font-size: 1.6rem;
    color: #5e5e5e;
}

.footer-list a{
    display: block;
}

.list-item{
    color: #5e5e5e;
    margin-top: 15px;
}

.box{
    background-color: #EDEAE5;
    width: 32px;
    height: 32px;
    border-radius: 3px;
}