*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    color:black;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
}
.dflex{
    display: flex;
}

li{
    list-style: none;
}

/* Nav */
.nav-top{
    justify-content: space-between;
    margin: 0 20px;  
    padding: 10px 0;
    padding-right: 60px;
    border-bottom: 1px solid #D6D6D6;
}

.nav-item{
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 3px 20px;
    color: black;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: #BD9E6B;
}

.nav-item-border{
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
}

/* Menu */

.nav-main{
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.pd-20{
    padding: 20px;
}

.menu-item{
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 500;
}
.nav-info-item{
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    padding: 0 5px;
}
.bd-round{
    background-color: #BD9E6B;
    border-radius: 50%;
    margin: 0 20px;
}

/* banner */
.banner{
    position: relative;
}


.banner .banner-bg{
    width: 100%;
}

.banner-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.content-img{
    width: 190px;
    height: auto;
}

.banner-title{
    color: white;
    font-size: 8.3rem;
    font-weight: 600;
    margin: 50px;
    margin-top: 20px;
}
.banner-btn{
    border: none;
}
    
.banner-btn-link{
    color: black;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 2px;
    background-color: white;
    padding: 20px 30px;
    border: none;
    transition: all 0.5s;
}

.banner-btn-link:hover{
    color: #BD9E6B;
    background-color: #0E0602;
}

/* section 2 */
.container{
    text-align: center;
}
.row-ave{
    margin: 0 -5px;
    width: 60%;
    margin: 0 auto;
}

.ave-50{
    width: 50%;
}

.ave-25{
    width: 25%;
}

.resize{
    width: 270px;
    height: 246px;
}

.ps-relative{
    position: relative;
    padding: 2.5px;
    border-radius: 20px;
}

.ave-name{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.8rem;
    font-weight: 300;
}

.header{
    font-size: 4rem;
    font-weight: 400;
    padding-top: 100px;
}

.desc{
    font-weight: 200;
    font-size: 1.3rem;
    padding: 30px 0;
}

/* sc 3 */

.row-summer{
    width: 60%;
    margin: 0 -15px;
    margin: auto;
    margin-bottom: 30px;
}

.col-summer{
    width: 25%;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    position: relative;
}
.summer-img{
    width: 100%;
}

.summer-name{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 0;
}

.price{
    font-size: 1.5rem;
    font-weight: 300;
}

.sm-link{
    color: black;
}
.sm-link:hover{
    color: #BD9E6B;
}

.pd-add{
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 2px;
    background-color:black;
    padding: 10px 40px;
    border: none;
    transition: all 0.5s;
    position: absolute;
    bottom: 120px;
    left: 50px;
}

.pd-add:hover{
    background: #BD9E6B;
}

.pd-noti{
    font-size: 1.1rem;
    background: #E82D2D;
    color: white;
    padding: 4px 12px;
    letter-spacing: 2px;
    position: absolute;
    top: 25px;
    left: 25px;
}

/* banner 2 */
.banner-2-title{
    color: white;
    font-size: 4.6rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 50px;
}

.summer-bn-text{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
}

/* client logo */

.logo{
    justify-items: center;
    width: 60%;
    margin: 0 auto;
}
.client-logo{
    padding: 25px;
    opacity: 0.3;
    cursor: pointer;
    width: 14%;
    transition: 0.3s ease-out;
}

.brand-img{
    width: 100%;
}

.client-logo:hover{
    opacity: unset;
}

/* sc-4 */
.editorial-header{
    padding-top: 40px;
}

.editorial-desc{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
    color: black;
}

.sale-noti{
    font-size: 1.1rem;
    background: white;
    color: black;
    padding: 4px 12px;
    letter-spacing: 2px;
    position: absolute;
    top: 25px;
    left: 25px;
}